.nav-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0ce;
  gap: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search_bar {
  max-width: 300px;
}

.left_buttons {
  display: flex;
  gap: 10px;
}
.right_buttons {
  display: flex;
  gap: 10px;
}

.nav-logo {
  max-width: 150px;
  max-height: 40px;
}

.sidebar-trigger{
  max-width: fit-content;
  max-height: 30px;
}